akonadi
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi-firstrunrc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
bleachbit
bluedevilglobalrc
BraveSoftware
breezerc
caja
clipit
coc
Code
dconf
discord
dolphinrc
emaildefaults
emailidentities
fish
flameshot
gcloud
geany
gh
GIMP
gtk-2.0
gtk-3.0
gtkrc
gtkrc-2.0
gwenviewrc
i3
kactivitymanagerdrc
kactivitymanagerd-statsrc
katepartrc
kateschemarc
katesyntaxhighlightingrc
katevirc
kcmdisplayrc
kcminputrc
kconf_updaterc
KDE
kdeconnect
kded5rc
kdeglobals
kde.org
kgammarc
kglobalshortcutsrc
khotkeysrc
khtml
klaunchrc
kmail2rc
kmailsearchindexingrc
konquerorrc
konsolerc
korgacrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
libreoffice
lxpanel
lxterminal
menus
mimeapps.list
neofetch
okularpartrc
okularrc
openbox
pcmanfm
pipewire-media-session
plasma-localerc
plasma-nm
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powerdevilrc
powerline-shell
powermanagementprofilesrc
pulse
qBittorrent
QtProject.conf
session
specialmailcollectionsrc
spectaclerc
startupconfig
touchpadrc
Trolltech.conf
Unknown Organization
user-dirs.dirs
user-dirs.locale
VIA
webengineurlinterceptoradblockrc
wireshark
xfce4
xsettingsd
